<h1>欢迎来到定位查询系统</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div class="row">
  <div class="col-xs-9">
  </div>
  <div class="col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        登录
      </div>

      <div class="panel-body">
        this is the panel
      </div>

    </div>
  </div>
</div>
