
<div class="row">
  <div class="col-xs-9 all_height">
    <h1 id = "welcome_h1">欢迎来到定位查询系统</h1>
    <div class="row" id="map_div" >
      <div class="col-xs-12 all_height" id="map" ></div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        登录
      </div>

      <div class="panel-body">
        this is the panel
      </div>

    </div>
  </div>
</div>
