
@import "bootstrap";

html,body{
  height:100%;
  .container{
    margin-left:0px;
    margin-right:0px;
    height:100%;
    .row{
      height:100%;
    }
  }

}
.menu
{
  height:100%;
  background-color:#110d20;
}

